h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $title-font-family;
}

body {
  font-family: $default-font-family;
  background: #fcf9f4;
  overflow-x: hidden;
}

h1 {
  font-size: 104px;
  font-weight: bold;
  line-height: 1;
  color: $quaternary-color;
}

h2 {
  font-size: 56px;
  font-weight: bold;
  color: $quaternary-color;
}

h3 {
  font-size: 48px;
  font-weight: bold;
  color: $quaternary-color;
}

h4 {
  color: $quaternary-color;
}

p {
  font-size: $standard-font-size;
  line-height: 30px;
}

@media (max-width: 992px) {
  h1 {
    font-size: 64px;
    line-height: 1.2;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 38px;
  }
}
