.btn-main {
  @include button;
  background: $primary-color;
  color: white;
  &:hover {
    background: $secondary-color;
    color: $primary-color;
    border: 1px solid $primary-color;
  }
}

.btn-second {
  @include button;
  color: $primary-color;
  border: 1px solid $primary-color;
  &:hover {
    background: $primary-color;
    color: $secondary-color;
  }
}

.btn-third {
  @include button;
  color: $primary-color;
  border: 1px solid $primary-color;
  &:hover {
    color: $primary-color;
    border: 1px solid $primary-color;
    cursor: default;
  }
}
