@mixin button {
  font-size: 18px;
  line-height: 27px;
  border-radius: 4px;
  padding: 15px 30px;
  transition: all 300ms ease-in-out;
  transition: transform 0.5s;
  &:hover {
    transform: scale(1.1);
  }
}

.btn-main {
  @include button;
  background: $primary-color;
  color: white;
  &:hover {
    background: $secondary-color;
    color: $primary-color;
    border: 1px solid $primary-color;
  }
}

.btn-second {
  @include button;
  color: $primary-color;
  border: 1px solid $primary-color;
  &:hover {
    background: $primary-color;
    color: $secondary-color;
  }
}

.btn-third {
  @include button;
  color: $primary-color;
  border: 1px solid $primary-color;
  &:hover {
    color: $primary-color;
    border: 1px solid $primary-color;
    cursor: default;
  }
}
