.container {
  h2 {
    margin-bottom: rem(25);
  }
  .skills h2 {
    font-size: rem(40);
    margin-top: rem(20);
  }
}

.content-container {
  padding: rem(50) rem(20);
  p {
    font-size: $standard-font-size;
  }
  .work {
    padding: rem(40) rem(20);
  }
}

.content {
  margin: rem(30);
  h1 {
    font-size: rem(64);
    line-height: rem(80);
  }

  h2 {
    font-family: $default-font-family;
    font-size: rem(18);
    line-height: 1;
  }

  h3 {
    font-family: $default-font-family;
    font-size: rem(24);
    font-weight: bold;
    line-height: 1.5;
  }

  p {
    font-size: rem(14);
  }
}

@media (max-width: 992px) {
  .content-container {
    text-align: center;
    padding: 0 rem(5) rem(10) rem(5);
  }
}
