.container {
  h2 {
    margin-bottom: 25px;
  }
  .skills h2 {
    font-size: 40px;
    margin-top: 20px;
  }
}

.content-container {
  padding: 50px 20px;
  p {
    font-size: $standard-font-size;
  }
  .work {
    padding: 40px 20px;
  }
}

.content {
  margin: 30px;
  h1 {
    font-size: 64px;
    line-height: 80px;
  }

  h2 {
    font-family: $default-font-family;
    font-size: 18px;
    line-height: 1;
  }

  h3 {
    font-family: $default-font-family;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5;
  }

  p {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .content-container {
    text-align: center;
    padding: 0 5px 10px 5px;
  }
}
