footer {
  margin: rem(80) 0 rem(50) 0;
  border-top: 1px solid $primary-color;
  padding: 0 rem(50);


  @include media-breakpoint-up(sm) {
    padding: 0;

  }

  @include media-breakpoint-up(lg) {
    border-top: none;
  }

  p {
    opacity: 0.7;
  }
}

.contact-box {
  background: $secondary-color;
  padding: rem(30) rem(120);
  border-radius: rem(10);

  p {
    margin: 0;
  }

  .email-link {
    margin: rem(40) 0 rem(20) 0;
    text-decoration: none;
    font-size: rem(22);
    color: $quaternary-color;
    font-weight: 500;
    transition: $transition;

    &:hover {
      color: $primary-color;
    }
  }
}



.social-links {
  a {
    margin: 0 rem(15);
    color: $primary-color;
    background: $secondary-color;
    padding: rem(10) rem(16);
    font-size: rem(18);
    border-radius: 50%;
    border: 0.5px solid $primary-color;
    transition: $transition;
    transition: $transform;

    &:hover {
      color: $secondary-color;
      background: $primary-color;
      transform: scale(1.2);
    }
  }
}

.github-link {
  text-decoration: none;
  color: $primary-color;
  transition: $transition;

  &:hover {
    text-decoration: underline;
  }
}
