footer {
  margin: 80px 0 50px 0;
  p {
    opacity: 0.7;
  }
}

.contact-box {
  background: $secondary-color;
  padding: 30px 120px;
  border-radius: 10px;
  p {
    margin: 0;
  }
}

.email-link {
  margin: 40px 0 20px 0;
  text-decoration: none;
  font-size: 22px;
  color: $quaternary-color;
  font-weight: 500;
  transition: $transition;

  &:hover {
    color: $primary-color;
  }
}

.social-links {
  a {
    margin: 0 15px;
    color: $primary-color;
    background: $secondary-color;
    padding: 10px 16px;
    font-size: 18px;
    border-radius: 50%;
    border: 0.5px solid $primary-color;
    transition: $transition;
    transition: $transform;

    &:hover {
      color: $secondary-color;
      background: $primary-color;
      transform: scale(1.2);
    }
  }
}

.github-link {
  text-decoration: none;
  color: $primary-color;
  transition: $transition;

  &:hover {
    text-decoration: underline;
  }
}

@media (max-width: 992px) {
  footer {
    border-top: 1px solid $primary-color;
  }
}

@media (max-width: 576px) {
  footer {
    padding: 0 50px;
  }
}
