.my-name {
  background-image: linear-gradient(
    to right,
    $quaternary-color 0%,
    $primary-color 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-size: 100%;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -webkit-text-stroke: 1px $quaternary-color;
}

.hero {
  background: linear-gradient(
    180deg,
    rgb(182, 205, 189) 0%,
    rgb(242, 249, 241) 100%
  );
  text-align: center;
  padding: rem(100);

  p {
    font-size: rem(36);
    font-weight: bold;
    margin: 0;
    color: $tertiary-color;
  }

  h2 {
    font-family: $default-font-family;
    font-weight: normal;
    font-size: rem(24);
    line-height: 1.5;
    margin-top: rem(20);
  }

  i {
    font-size: rem(30);
    padding: rem(15);
    margin-bottom: rem(15);
    color: $quaternary-color;
  }
}

@media (max-width: 992px) {
  .hero {
    padding: rem(60) rem(20);
    p {
      font-size: rem(24);
      line-height: 1.8;
    }

    h2 {
      font-size: rem(20);
      line-height: 1.6;
    }
  }
}

@media (max-width: 576px) {
  .hero {
    i {
      padding: rem(8);
      font-size: rem(26);
    }
  }

  .btn-main {
    margin-top: rem(15);
    margin-bottom: rem(15);
  }
}
