.my-name {
  background-image: linear-gradient(
    to right,
    $quaternary-color 0%,
    $primary-color 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-size: 100%;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  -webkit-text-stroke: 1px $quaternary-color;
}

.hero {
  background: linear-gradient(
    180deg,
    rgb(182, 205, 189) 0%,
    rgb(242, 249, 241) 100%
  );
  text-align: center;
  padding: rem(60) rem(20);

  @include media-breakpoint-up(lg) {
    padding: rem(100);
  }

  h2 {
    font-family: $default-font-family;
    font-weight: normal;
    font-size: rem(20);
    line-height: 1.6;
    margin-top: rem(20);

    @include media-breakpoint-up(lg) {
      font-size: rem(24);
      line-height: 1.5;
    }
  }

  i {
    padding: rem(8);
    font-size: rem(26);
    margin-bottom: rem(15);
    color: $quaternary-color;

    @include media-breakpoint-up(sm) {
      font-size: rem(30);
      padding: rem(15);
    }
  }

  .btn-main {
    margin: 0;

    @include media-breakpoint-up(sm) {
      margin-top: rem(15) 0;
    }
  }
}
