.project-description {
  padding: rem(60);
}

.about-me {
  margin: rem(20) rem(10) rem(30) rem(80);
  p {
    text-align: justify;
  }
}

.resume-link {
  margin-right: rem(20);
}

.personal-image {
  margin-top: rem(40);
}

.portrait {
  border-radius: rem(400);
  max-width: rem(500);
  margin-left: rem(50);
}

@media (max-width: 992px) {
  .about-me {
    margin: rem(40) 0;
    p {
      text-align: center;
      margin: 0 rem(20);
    }
  }

  .resume-link {
    margin-bottom: rem(15);
    margin-right: rem(15);
  }

  .certificate-link {
    margin-bottom: rem(15);
  }

  .personal-image {
    margin-top: 0;
  }

  .portrait {
    margin: 0 0 rem(40) 0;
    max-width: rem(450);
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  .projects {
    padding-top: rem(60);
  }
}

@media (max-width: 576px) {
  .resume-link {
    margin-right: 0;
  }

  .portrait {
    max-width: rem(350);
  }
}
