@function rem($value) {
  $remValue: ($value / 16) + rem;
  @return $remValue;
}

@mixin button {
  font-size: $standard-font-size;
  line-height: rem(27);
  border-radius: rem(4);
  padding: rem(15) rem(30);
  transition: $transition;
  transition: $transform;
  &:hover {
    transform: $scale;
  }
}