.navbar {
  background: rgba($quinary-color, 0.3);
  padding: rem(5);

  @include media-breakpoint-up(lg) {
    padding: rem(2) rem(120);
    background: $quinary-color;
  }

  &:hover {
    background: $quinary-color;
  }

  .logo {
    max-width: rem(60);
  }

  .nav-link {
    padding: rem(10) rem(40) rem(5) 0;
    line-height: rem(25);
    color: $tertiary-color;
    font-weight: 500;
    font-size: rem(18);
    transition: all 300ms ease-in-out;
    transition: transform 0.5s;

    &:hover {
      color: $primary-color;
      transform: none;

      @include media-breakpoint-up(lg) {
        transform: scale(1.1);
      }
    }

    &.contact-nav-link {
      margin-bottom: rem(12);

      @include media-breakpoint-up(lg) {
        margin-bottom: 0;
      }
    }
  }

  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus {
    box-shadow: none;
  }

  .active {
    color: $primary-color !important;
  }
}
