nav {
  background: rgba($quinary-color, 0.3);
  padding: 2px 120px;

  &:hover {
    background: $quinary-color;
  }

  @include media-breakpoint-down(lg) {
    .navbar {
      padding: 5px;
    }

    .contact-nav-link {
      margin-bottom: 12px;
    }
  }

  .logo {
    max-width: 60px;
  }

  .nav-link {
    padding: 10px 40px 5px 0;
    line-height: 25px;
    color: $tertiary-color !important;
    font-weight: 500;
    font-size: 18px;
    transition: all 300ms ease-in-out;
    transition: transform 0.5s;

    &:hover {
      color: $primary-color !important;
      transform: scale(1.1);

      @include media-breakpoint-down(lg) {
        transform: none;
      }
    }
  }

  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus {
    box-shadow: none;
  }

  .active {
    color: $primary-color !important;
  }
}
