//Google fonts
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// colours
$primary-color: #b6cdbd;
$secondary-color: #f2f9f1;
$tertiary-color: #272142;
$quaternary-color: #5c715e;
$quinary-color: #fcf9f4;

// fonts
$title-font-family: "Playfair Display", serif;
$default-font-family: "Poppins", serif;

// font sizes
$standard-font-size: 16px;
