.github-project {
  margin-left: rem(20);
}

.work-title {
  margin-top: rem(50);
}

.projects {
  background: $secondary-color;
  padding: rem(40);
}

.skills {
  background: $secondary-color;
  margin: 0;
  padding: rem(40);
  max-width: 100%;

  .row {
    margin: 0 rem(60);
  }

  p,
  i {
    color: $quaternary-color;
    font-size: rem(18);
  }
}

@media (max-width: 992px) {
  .skills {
    h2 {
      margin-top: rem(40);
      font-size: rem(48);
    }

    .row {
      margin: 0 rem(30);
    }
  }

  .github-project {
    display: block;
    margin: rem(10) rem(90);
  }
}

@media (max-width: 576px) {
  .work {
    h1 {
      font-size: rem(52);
      padding: 0 rem(30) 0 rem(30);
      line-height: 1.2;
    }
  }
  .github-project {
    display: block;
    margin: rem(10) rem(20);
  }
}
